@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-image: url("images/frierenmarcillewands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 0;
    font-family: 'Patrick Hand', cursive;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 20px;
}

.left-image,
.right-image {
    width: 100%;
    max-width: 320px;
    border-radius: 15px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.5);
}

.header-title {
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.description {
    text-align: center;
    padding: 20px;
}